<div id="result">
  <div style="border-bottom:solid thin #eeeeee;padding-bottom:5px;margin-bottom:10px;">
    <table width="100%">
      <tbody>
        <tr>
          <td>
            {{record_count}} {result.number} ({{exec_time}}{result.second})
          </td>
          <td class="order-box" align="right">
            <div class="order">
              {result.order}:
              <select class="form-control sort">
                <option value="score.desc">{result.order.score}</option>
                <option value="last_modified.desc">{result.order.last_modified}</option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <ol id="searchResultList">
      {{#each result}}
      <li id="result{{@index}}">
        <div class="media">
          <div class="media-body">
            <h3 class="title ellipsis media-heading">
              <a class="link" href="{{url}}" data-uri="{{url}}" data-order="0">
                {{content_title}}
              </a>
            </h3>
          </div>
          <div class="body">
            <div>
              <div class="thumbnailBox media-left hidden-xs-down">
                <a class="link" href="{{url}}" data-uri="{{url}}" data-id="{{doc_id}}" data-order="1">
                  <img src="{{../context_path}}/images/blank.png"
                    data-src="{{../context_path}}/thumbnail/?docId={{doc_id}}&queryId={{../query_id}}" class="thumbnail">
                </a>
              </div>
              <div class="media-body description">
                {{{content_description}}}
              </div>
            </div>
            <div class="site ellipsis">
              <cite>{{site}}</cite>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>
<div class="center">
  <nav id="subfooter" class='paginationNav'>
  </nav>
</div>
